@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;600&family=Manrope:wght@800&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    background: var(--primaryColor);
    color: var(--textColor);
    font-size: 1.0125rem;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
}

p {
    line-height: 1.75;
}