@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    background: var(--primaryColor);
    color: var(--textColor);
    font-size: 1.0125rem;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-family: var(--primaryFont);
}